@charset "UTF-8";

  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Montserrat:wght@900&display=swap');

body{
    background-color: rgb(97, 97, 197);
    margin: 10px;
    padding: 10px;
    height: 100vh;

}

header{
    color: white;
    text-align: center;
    font-family:  'Montserrat', sans-serif;
}

main >section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    max-width: 500px;
    min-width: 25px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.315);
}

div{
    text-align: center;
    padding: 8px;
    font-family: 'lato' , sans-serif;

}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    height: 10vh;
}